# Editor files
.idea/
angular-typeahead.sublime-workspace
angular-typeahead.sublime-project

# NPM Files
node_modules/
npm-debug.log

# Bower Files
bower_components

# Build artifacts
build/

# System crap
.DS_Store
